<div id="beacons-container">
    <!--<p class=" beaconselect beacontext">Select a campaign:</p>-->

    <div class="grid">
        <div class="row">
            <div class="col-lg-2">
                <label for="campaigns" class="whitetext usualfonts">Select a campaign:</label>
                <select class="form-control" id="campaigns" ng-model="vm.selected">
                    <option value="0" disabled selected>Select</option>
                    <option ng-repeat="(index, campaign) in vm.campaigns" value="{{index}}">{{campaign.displayName}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 ">
                <button id="showcampaign" class="btn btn-default graybutton beaconbutton bevelonpress-small" ng-click="vm.displayCampaign()">Show campaign</button>
            </div>
        </div>
        <div class="row">
    <div id="campaigntimeline"></div>

    <span id="genderpie"></span>
    <span id="agepie"></span>
    <span id="ospie"></span>
        </div>
        <div class="row">
    <div id="statistics" class="beaconstats beacontext">
        Created: <span id="created">{{vm.created}}</span> <br/>
        Distinct people: <span id="people">{{vm.people}}</span> <br/>
        Total Hits: <span id="hits">{{vm.totalHits}}</span> <br/>
        Active until: <span id="enddate">{{vm.endDate}}</span> <br/>
    </div>
        </div>

    </div>
</div>