<div id="calendar-heatmap" ng-show="mapType">
    <input class="form-control rounded-form" ng-model="vm.startDateHeatMap" placeholder="Start date"
           moment-picker="vm.startDateHeatMap">
    <input class="form-control rounded-form" ng-model="vm.endDateHeatMap" placeholder="End date"
           moment-picker="vm.endDateHeatMap">
    <button class="apply-date btn" ng-click="vm.apply()" style="margin-top: 3%">Apply</button>
</div>
<div class="box-body" id="map-container" style="height: 400px" ng-show="mapType">
</div>
<div id="maps-div" ng-show="!mapType"></div>
<div id="calendar-div">
    <div id="center-div">
        <div id="prediction-div">
            <button id="get-prediction" class="btn apply-date" ng-click="predict()">Get Prediction</button>
            <span id="prediction-span">{{result}}</span></div>
        <div id="moment-div">
            <input class="form-control" ng-model="vm.startDate" placeholder="Start date" moment-picker="vm.startDate">
            <input class="form-control" ng-model="vm.endDate" placeholder="End date" moment-picker="vm.endDate">
            <button class="apply-date btn" ng-click="apply()">Apply</button>
        </div>
    </div>
</div>
<div id="chart-div" class="chart-init"></div>,