<div id="calendar-heatmap" ng-show="mapType">
    <input class="form-control rounded-form input-heatmap" ng-model="vm.startDateHeatMap" placeholder="Data de inceput"
           moment-picker="vm.startDateHeatMap">
    <input class="form-control rounded-form input-heatmap" ng-model="vm.endDateHeatMap" placeholder="Data de final"
           moment-picker="vm.endDateHeatMap">
    <button class="apply-date btn" ng-click="applyHeatMap()" style="margin-top: 3%">Aplica</button>
</div>
<div class="box-body" id="map-container" style="height: 400px" ng-show="mapType">
</div>
<div id="maps-div" ng-show="!mapType"></div>
<div id="calendar-div">
    <div id="center-div">
        <div id="prediction-div" ng-show="!mapType">
            <button id="get-weekly" class="btn orange-btn rounded-btn" ng-click="weekly()">Raport saptamanal</button>
            <button id="get-prediction" class="btn rounded-btn" ng-click="predict()">Predictie</button>
            <span id="prediction-span">{{result}}</span>
        </div>

        <div id="moment-div" ng-show="!mapType">
            <input class="form-control rounded-btn" ng-model="vm.startDate" placeholder="Data de inceput"
                   moment-picker="vm.startDate">
            <input class="form-control rounded-btn" ng-model="vm.endDate" placeholder="Data de final"
                   moment-picker="vm.endDate">
            <button class="apply-date btn" ng-click="apply()">Aplica</button>
        </div>
    </div>
</div>
<div id="chart-div" class="chart-init" ng-show="!mapType">
    <div class="loader" id="d3-loader">Se incarca...</div>
</div>