<section class="content">
	<!-- Small boxes (Stat box) -->
	<div class="row">
		<div class="col-lg-6 col-xs-12">
			<!-- small box -->
			<div class="small-box bg-aqua">
				<div class="inner">
					<p>Temperatura medie</p>
					<h3>15<sup style="font-size: 20px">°C</sup></h3>
					<p>Trivia fact</p>
				</div>
				<div class="icon">
					<i class="ion ion-bag"></i>
				</div>
				<a href="#" class="small-box-footer">Afla mai multe <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-6 col-xs-12">
			<!-- small box -->
			<div class="small-box bg-green">
				<div class="inner">
					<p>Presiunea medie</p>
					<h3>760<sup style="font-size: 20px">mmHg</sup></h3>
					<p>Trivia fact</p>
				</div>
				<div class="icon">
					<i class="ion ion-stats-bars"></i>
				</div>
				<a href="#" class="small-box-footer">Afla mai multe <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-6 col-xs-12">
			<!-- small box -->
			<div class="small-box bg-yellow">
				<div class="inner">
					<p>Umiditate</p>
					<h3>50<sup style="font-size: 20px">%</sup></h3>
					<p>No comment</p>
				</div>
				<div class="icon">
					<i class="ion ion-person-add"></i>
				</div>
				<a href="#" class="small-box-footer">Afla mai multe <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-6 col-xs-12">
			<!-- small box -->
			<div class="small-box bg-red">
				<div class="inner">
					<p>Nivel de radiatie</p>
					<h3>Periculos</h3>
					<p>No comment</p>
				</div>
				<div class="icon">
					<i class="ion ion-pie-graph"></i>
				</div>
				<a href="#" class="small-box-footer">Afla mai multe <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-6 col-xs-12">
			<!-- small box -->
			<div class="small-box bg-navy">
				<div class="inner">
					<p>Calitatea aerului</p>
					<h3>Incarcat cu praf</h3>
					<p>Trivia fact</p>
				</div>
				<div class="icon">
					<i class="ion ion-gear-b"></i>
				</div>
				<a href="#" class="small-box-footer">Afla mai multe <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-6 col-xs-12">
			<!-- small box -->
			<div class="small-box bg-purple">
				<div class="inner">
					<p>Nivelul de aglomeratie</p>
					<h3>Colosal</h3>
					<p>Trivia fact</p>
				</div>
				<div class="icon">
					<i class="ion ion-calendar"></i>
				</div>
				<a href="#" class="small-box-footer">Afla mai multe <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-6 col-xs-12">
			<!-- small box -->
			<div class="small-box bg-teal">
				<div class="inner">
					<p>Cel mai aglomerat loc</p>
					<h3>Piata Unirii</h3>
					<p>Trivia fact</p>
				</div>
				<div class="icon">
					<i class="ion ion-hammer"></i>
				</div>
				<a href="#" class="small-box-footer">Afla mai multe <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-6 col-xs-12">
			<!-- small box -->
			<div class="small-box bg-maroon">
				<div class="inner">
					<p>Iluminatul public</p>
					<h3>Fara date</h3>
					<p>No comment</p>
				</div>
				<div class="icon">
					<i class="ion ion-camera"></i>
				</div>
				<a href="#" class="small-box-footer">Afla mai multe <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<!-- ./col -->
	</div>
	<!-- /.row -->

</section>