<div class="small-box bg-orange">
	<div class="box-header">
		<div class="box-tools pull-right" style="z-index: 1000">
			<button type="button" class="btn btn-box-tool" data-ng-click="remove()">
				<i class="fa fa-times"></i>
			</button>
		</div>
	</div>

	<div class="box-body">
		<div class="inner">
			<p>{{parameterName}}</p>
            <h3>{{parameterValue}}<sup style="font-size: 20px">{{parameterUnit}}</sup></h3>
			<p></p>

			<div class="icon">
                <i class="{{iconClass}}"></i>
			</div>
		</div>
	</div>
    <a href ui-sref="{{link}}" class="small-box-footer">Afla mai multe <i class="fa fa-arrow-circle-right"></i></a>
</div>