<div class="row">
	<!-- Left col -->
	<section class="col-lg-9 col-xs-12">
		<!-- Line chart -->
		<div class="box box-primary">
			<div class="box-header with-border">
				<i class="fa fa-bar-chart-o"></i>

				<h3 class="box-title">Temperatura</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
				</div>
			</div>
			<div class="box-body">
				<div id="line-chart" style="height: 300px;"></div>
			</div>
			<!-- /.box-body-->
		</div>
		<!-- /.box -->
	</section>
	<section class="col-lg-3 col-xs-12">
		<!-- Line chart -->
		<div class="box box-primary">
			<div class="box-header with-border">
				<i class="fa fa-bar-chart-o"></i>

				<h3 class="box-title">Configurare</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
				</div>
			</div>
			<div class="box-body">
				<div class="form-group">
					<label>Incepand din:</label>

					<div class="input-group date">
						<div class="input-group-addon">
							<i class="fa fa-calendar"></i>
						</div>
						<input type="text" class="form-control pull-right" id="datepicker1">
					</div>
					<!-- /.input group -->
				</div>
				<!-- /.form group -->

				<div class="form-group">
					<label>Pana la:</label>

					<div class="input-group date">
						<div class="input-group-addon">
							<i class="fa fa-calendar"></i>
						</div>
						<input type="text" class="form-control pull-right" id="datepicker2">
					</div>
					<!-- /.input group -->
				</div>
				<!-- /.form group -->

				<div class="box-footer">
					<button type="submit" class="btn btn-primary" id="getdatabutton">Gaseste datele!</button>
				</div>
			</div>
			<!-- /.box-body-->
		</div>
		<!-- /.box -->
	</section>
</div>