<!--<div class="row">-->
	<!--&lt;!&ndash; Left col &ndash;&gt;-->
	<!--<section class="col-lg-9 col-xs-12">-->
		<!--&lt;!&ndash; Line chart &ndash;&gt;-->
		<!--<div class="box box-primary">-->
			<!--<div class="box-header with-border">-->
				<!--<i class="fa fa-bar-chart-o"></i>-->

				<!--<h3 class="box-title">Temperatura</h3>-->

				<!--<div class="box-tools pull-right">-->
					<!--<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="box-body">-->
				<!--<div id="line-chart" style="height: 300px;"></div>-->
			<!--</div>-->
			<!--&lt;!&ndash; /.box-body&ndash;&gt;-->
		<!--</div>-->
		<!--&lt;!&ndash; /.box &ndash;&gt;-->
	<!--</section>-->
	<!--<section class="col-lg-3 col-xs-12">-->
		<!--&lt;!&ndash; Line chart &ndash;&gt;-->
		<!--<div class="box box-primary">-->
			<!--<div class="box-header with-border">-->
				<!--<i class="fa fa-bar-chart-o"></i>-->

				<!--<h3 class="box-title">Configurare</h3>-->

				<!--<div class="box-tools pull-right">-->
					<!--<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="box-body">-->
				<!--<div class="form-group">-->
					<!--<label>Incepand din:</label>-->

					<!--<div class="input-group date">-->
						<!--<div class="input-group-addon">-->
							<!--<i class="fa fa-calendar"></i>-->
						<!--</div>-->
						<!--<input type="text" class="form-control pull-right" id="datepicker1">-->
					<!--</div>-->
					<!--&lt;!&ndash; /.input group &ndash;&gt;-->
				<!--</div>-->
				<!--&lt;!&ndash; /.form group &ndash;&gt;-->

				<!--<div class="form-group">-->
					<!--<label>Pana la:</label>-->

					<!--<div class="input-group date">-->
						<!--<div class="input-group-addon">-->
							<!--<i class="fa fa-calendar"></i>-->
						<!--</div>-->
						<!--<input type="text" class="form-control pull-right" id="datepicker2">-->
					<!--</div>-->
					<!--&lt;!&ndash; /.input group &ndash;&gt;-->
				<!--</div>-->
				<!--&lt;!&ndash; /.form group &ndash;&gt;-->

				<!--<div class="box-footer">-->
					<!--<button type="submit" class="btn btn-primary" id="getdatabutton">Gaseste datele!</button>-->
				<!--</div>-->
			<!--</div>-->
			<!--&lt;!&ndash; /.box-body&ndash;&gt;-->
		<!--</div>-->
		<!--&lt;!&ndash; /.box &ndash;&gt;-->
	<!--</section>-->
<!--</div>-->

<!--<data-chart-form></data-chart-form>-->
<!--<data-bar-chart height="vm.options.height" data="vm.data" hovered="vm.hovered(args)"></data-bar-chart>-->
<div linear-chart chart-data="salesData"></div>