<section class="content-header col-xs-12">
    <h2 style="color: white; margin: auto auto 2vh;">{{vm.name}}</h2>
</section>

<section class="content">
	<div class="row">
        <div class="col-lg-4 col-xs-6" ng-repeat="widget in vm.preferences track by widget.name">
            <div data-overview data-parameter-value="{{widget.value}}"
                 data-parameter-name="{{widget.name}}"
                 data-parameter-unit="{{widget.unit}}"
                 data-remove-callback="vm.removeWidget"
                 data-icon-class="ion ion-bag"
                 data-link-function="{{'app.' + widget.link}}"></div>
        </div>

        <div class="col-lg-4 col-xs-6" ng-if="!vm.hideDropdown">
            <div class="small-box bg-orange bevelonpress-big shadow-big" style="text-align: center">
                <a href ng-click="vm.showDropdown()">
                    <img src="../../pics/content_qs-icons-add.png" style="width: 12.2vw">
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-xs-6" ng-if="vm.hideDropdown">
            <div class="small-box bg-orange bevelonpress-big shadow-big" style="height: 25.25vh;text-align: center;">
                <select ng-model="vm.selected" style="margin-top: 6vh;color: black;">
                    <option ng-repeat="widget in vm.widgets" value="{{widget.link}}">{{widget.name}}</option>
                </select>

                <input type="button" value="Submit" ng-click="vm.addWidget()">
            </div>
        </div>
    </div>
</section>