<md-content id="content" style="padding: 4em 2em; width: 100vw">
	<div layout="row" layout-align="center center" layout-fill>
		<md-whiteframe layout="column" flex="55" layout-padding>
			<md-content>
				<div layout="row" layout-align="center center">
					<md-input-container flex="50">
						<label>First name</label>
						<input ng-model="vm.registerUser.firstname">
					</md-input-container>
				</div>

				<div layout="row" layout-align="center center">
					<md-input-container flex="50">
						<label>Last name</label>
						<input ng-model="vm.registerUser.lastname">
					</md-input-container>
				</div>

				<div layout="row" layout-align="center center">
					<md-input-container flex="50">
						<label>Email</label>
						<input ng-model="vm.registerUser.email">
					</md-input-container>
				</div>

				<div layout="row" layout-align="center center">
					<md-input-container flex="50">
						<label>Password</label>
						<input ng-model="vm.registerUser.password" type="password">
					</md-input-container>
				</div>

				<div layout="row" layout-align="center center">
					<md-input-container>
						<div layout="row" layout-sm="column" layout-margin>
							<md-button class="md-raised md-primary" flex="50" flex-sm="100"
							           ng-click="vm.goTo('login')">Back
							</md-button>
							<md-button class="md-raised md-primary" flex="50" flex-sm="100"
							           ng-if="vm.isState('register')"
							           ng-click="vm.register()">Submit
							</md-button>
							<md-button class="md-raised md-primary" flex="50" flex-sm="100"
							           ng-if="vm.isState('member')"
							           ng-click="vm.addMember()">Add member
							</md-button>
						</div>
					</md-input-container>
				</div>
			</md-content>
		</md-whiteframe>
	</div>
</md-content>


