<section class="content-header col-xs-12">
	<div class="col-xs-5">
		<h2 style="color: white; margin: auto auto 2vh;">{{name}}
			<small style="margin: auto; color: #afafaf; font-size: 60%">{{mapType ? 'HeatMap' : 'Statistici'}}</small>
		</h2>
	</div>

	<label class="switch col-xs-6" style="margin-left: 2vw; margin-top: 2vh;">
		<input type="checkbox" ng-model="mapType" ng-click="setType()">

		<div class="slider round"></div>
	</label>
</section>

<div ng-show="mapType">
	<div id="calendar-heatmap">
		<input class="form-control rounded-form input-heatmap" ng-model="vm.startDateHeatMap"
		       placeholder="Data de inceput"
		       moment-picker="vm.startDateHeatMap">

		<input class="form-control rounded-form input-heatmap" ng-model="vm.endDateHeatMap" placeholder="Data de final"
		       moment-picker="vm.endDateHeatMap">

		<button class="apply-date btn" ng-click="applyHeatMap()" style="margin-top: 3%">Aplica</button>
	</div>

	<div class="box-body" id="map-container" style="height: 400px"></div>
</div>

<div ng-show="!mapType">
	<div id="maps-div"></div>

	<div id="calendar-div">
		<div id="center-div">
			<div id="prediction-div">
				<button id="get-weekly" class="btn orange-btn rounded-btn" ng-click="weekly()">Raport saptamanal
				</button>

				<button id="get-prediction" class="btn rounded-btn" ng-click="predict()">Predictie</button>

				<span id="prediction-span">{{result}}</span>
			</div>

			<div id="moment-div">
				<input class="form-control rounded-btn" ng-model="vm.startDate" placeholder="Data de inceput"
				       moment-picker="vm.startDate">
				<input class="form-control rounded-btn" ng-model="vm.endDate" placeholder="Data de final"
				       moment-picker="vm.endDate">
				<button class="apply-date btn" ng-click="apply()">Aplica</button>
			</div>
		</div>
	</div>

	<div id="chart-div" class="chart-init">
		<div class="loader" id="d3-loader">Se incarca...</div>
	</div>
</div>
